@keyframes backColor {
    from {background-color: #d4d4f7;}
    to {background-color: #ffb3b3;}
}
@keyframes textColor {
    from {color: #191980;}
    to {color: #cc0000;}
}
@keyframes pixelHighlight {
  to {background-color: #B8B8B8;}
}

body {
  animation: backColor 5s linear 0s infinite alternate;
}
h1 {
  animation: textColor 5s linear 0s infinite alternate;
  font-family: Satisfy;
  font-size: 100px;
  height: 50px;
  text-align: center;
}
h6 {
  animation: textColor 5s linear 0s infinite alternate;
  text-align: center;
}
button {
  background-color: beige;
  border-radius: 12px;
  color: indianred;
  font-size: 10px;
}
button:hover {
  background-color: tan;
}
input {
  background-color: beige;
  color: indianred;
  font-size: 14px;
}
.customPal {
  background-color: white;
}
.gridDivs:hover {
  animation: pixelHighlight 0.5s linear 0s infinite alternate
}
#mainGrid {
  margin: auto;
  border: 2px solid black;
  background-color: white;
  cursor: crosshair;
}
#colorGrid {
  position: fixed;
  top: 25px;
  right: 50px;
}
#customGrid {
  position: fixed;
  top: 150px;
  right: 50px;
}
#clearBtn {
  font-size: 25px;
  position: fixed;
  top: 360px;
  right: 35px;
}
#colorInput {
  position: fixed;
  top: 260px;
  right: 25px;
}
#inputBtn {
  position: fixed;
  top: 300px;
  right: 111px;
}
#savebtn {
  position: fixed;
  top: 300px;
  right: 25px;
}
#clearCustomBtn {
  position: fixed;
  top: 330px;
  right: 23px;
}
#custXinput {
  position: fixed;
  top: 410px;
  right: 23px;
}
#custYinput {
  position: fixed;
  top: 440px;
  right: 23px;
}
#custRowinput {
  position: fixed;
  top: 470px;
  right: 23px;
}
#custColinput {
  position: fixed;
  top: 500px;
  right: 23px;
}
#resizeBtn {
  position: fixed;
  font-size: 12px;
  top: 530px;
  right: 14px;
}