@keyframes backColor {
    from {background-color: #d4d4f7;}
    to {background-color: #ffb3b3;}
}
@keyframes textColor {
    from {color: #191980;}
    to {color: #cc0000;}
}
@keyframes pixelHighlight {
  to {background-color: #B8B8B8;}
}
@keyframes colorHighlight {
  to {background-color: white;}
}

body {
  animation: backColor 5s linear 0s infinite alternate;
}
h1 {
  animation: textColor 5s linear 0s infinite alternate;
  font-family: Satisfy;
  font-size: 100px;
  height: 50px;
  text-align: center;
}
h6 {
  animation: textColor 5s linear 0s infinite alternate;
  text-align: center;
}
button {
  background-color: #d4d4f7;
  border-radius: 12px;
  color: #b30000;
  font-size: 10px;
}
input {
  background-color: #d4d4f7;
  color: #b30000;
  font-size: 14px;
}
