body {
  background-color: lavender;
}
h1 {
  font-size: 50px;
  text-align: center;
}
#mainGrid {
  margin: auto;
}
.customPal {
  background-color: white;
}
button {
  background-color: beige;
  color: indianred;
  font-size: 10px;
}
input {
  background-color: beige;
  color: indianred;
  font-size: 14px;
}
#colorGrid {
  position: fixed;
  top: 25px;
  right: 50px;
}
#customGrid {
  position: fixed;
  top: 150px;
  right: 50px;
}

#clearBtn {
  font-size: 25px;
  position: fixed;
  top: 360px;
  right: 35px;
}

#colorInput {
  position: fixed;
  top: 260px;
  right: 25px;
}

#inputBtn {
  position: fixed;
  top: 300px;
  right: 111px;
}

#savebtn {
  position: fixed;
  top: 300px;
  right: 25px;
}

#clearCustomBtn {
  position: fixed;
  top: 330px;
  right: 23px;
}

#custXinput {
  position: fixed;
  top: 410px;
  right: 23px;
}

#custYinput {
  position: fixed;
  top: 440px;
  right: 23px;
}

#custRowinput {
  position: fixed;
  top: 470px;
  right: 23px;
}

#custColinput {
  position: fixed;
  top: 500px;
  right: 23px;
}

#resizeBtn {
  position: fixed;
  font-size: 12px;
  top: 530px;
  right: 14px;
}